@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --neutral0: #ffffff;
  --primary-base: #fe4f34;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --neutral0: #ffffff;
    --primary-base: #fe4f34;
  }
}
